<script src="/javascripts/forgotPasswordFormValidation.js"></script>
<div id="forgot-password-modal" class="modal fade" role="dialog">
    <div class="modal-messages"></div>
    <div class="modal-dialog register-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <form id='forgot-password-form' action='/signup' method='post'> <!-- routes/index.js -->
                    <input type="hidden" value="{{emailRegex}}" name="emailRegex" id="emailRegexReset">
                    <input type="hidden" value="{{notAllowedRegex}}" name="notAllowedRegex" id="notAllowedRegexReset">
                    <div class='row'>
                        <br>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        Enter your email below to have your username sent to you and to get instructions on how to reset your password.
                        <br>
                        <div class='row'>
                            <div class='col-xs-10 col-md-10'>
                                <div class="form-group">
                                    <label class="control-label">Email Address*</label>
                                    <div>
                                        <input id='email-reset-box' class='form-control signup-input' type='email' name='email' placeholder='email address' required></input>
                                    </div>
                                    <div class="formErr" id="emailResetErrors"></div>
                                </div>
                            </div>
                        </div>
                        <input type="button" id='reset-password-button' class='btn btn-warning btn-lg' value="Reset Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>