<script src='/javascripts/registrationError.js'></script>
<div class='tab-content'>
<h1>{{title}}</h1>
<div class='content' id='faq-content'>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <p>Sorry, you can only register for one class at a time. If you need to update your current registration, you can do so by clicking "edit" on the registration in your dashboard. If you need to delete your registration altogether and start over, you can delete your registration on the "update registration" page, which you can access by pressing said "edit" button.</p>
</div>
</div>
